body{
    background-color:rgb(113, 106, 106);
}
#heading{
    background-color:rgb(86, 82, 82);
}
#heading2{
    color:white;
    font-weight:bold;
}

span{
    font-size:25px;
}
#note{
    color:white;
    font-size:16px;
    width:750px;
}
canvas{
    background-color:white;
    border:5px solid black;
    box-shadow: 2px 2px cadetblue;
}